   #text_box{
      	width: 800px;
      	height: 800px;
      }
    body{
      background-color: #7fa4e0;
    }
    #editor{
      margin: 30px 30px 30px 30px;
      background-color: #ffffff;
    }
    header{
       padding: 10px 10px 10px 10px;
       margin: 5px 5px 5px 5px;
    }
      
    ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
    }
     li{
       padding:  0px 3px 0px 3px;
     }
      .icon-bar {
    width: 100%; 
    background-color: #555; 
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

    #main{
     background-color: #555 ;
     text-align: center;
}

    .icon-bar a {
      float: left;
      text-align: center; 
      width: 5%;
  
      transition: all 0.3s ease; 
      color: white; 
      font-size: 16px;
      text-decoration: none;
      padding:  0px 2px 0px 2px;
      margin:  0px 2px 0px 2px;

  }

    .icon-bar a:hover {
        background-color: #000; 

   }

    .active {
     background-color: #4CAF50; 
   }

    .strike{
     text-decoration: line-through;
   }
 
  iframe{
    border: 2px solid black;
    border-radius: 4px 4px 4px 4px;
  }



